*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
body{
    background-color: #f1f1f1;

}
.box{
    max-width: 750px;
    margin:  auto;
    background-size: cover;
    height: 3000px;
    background-color: #FFF;

}
.head-nav{
    background-color: #fafafa;
    height: 84px;
    border-bottom: 1px solid #f1f1f1;
    z-index: 9;
    /* position: fixed; */
    z-index: 10;

}
.head{
    position: relative;
    /* top: 0;
    left: 0;
    overflow: hidden; */
    height: 50%;
}
@media (min-width: 750px){
    .head{
        width: 750px;
    }
    html{
        font-size: 20px;
    }
    .head-nav{
        height: 105px;
    }
    .nav2-content{
        width: 750px;
    }
}
.icon-wode{
    font-size: 1.425rem;
    /* margin-left: 20px;
    margin-top: 20px; */
    margin-left: 20px;
    line-height: 2.75rem;
}
.sou{
    display: block;
    border: 1px solid #ebebec;
    background-color: #ebebec;
    margin: .56rem .5rem;
    line-height: 1.55rem;
    height: 1.5rem;
    border-radius: 1rem;
    text-indent: 0.5rem;
    font-size: .9rem;
    /* width: 25rem; */
    color: #bdbdbd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2.75rem;
    right: 5.375rem;
}


.icon-xiepinglun{
    position: absolute;
    /* float: right; */
    right: 0;
    font-size: 25px;
    line-height: 2.75rem;
    margin-right: 15px;
}
.icon-icon-p_xinfeng{
    position: absolute;
    /* float: right; */
    font-size: 30px;
    /* line-height: 60px; */
    /* margin-left: 9px; */
    line-height: 2.75rem;
    right: 3.175rem;

}

.nav{
    /* line-height: 2.75rem; */
    height: 50%;
    position: relative;
    /* overflow: hidden; */
}
.nav1{
    position: absolute;
    left: 1rem;
    /* line-height: 2.75rem; */
    line-height: 2.75rem;
    z-index: 2;
    color: #a2adb5;
}

.nav1-content{
    position: absolute;
    top: 2.55rem;
    /* left: -1rem; */
    height: 473.3px;
    /* width: 37.48rem; */
    /* max-width: 750px; */
    width: 100%;
    /* margin: 0 auto; */
    background-color: #fafafa;
    border-top: 1px solid #f1f1f1;

    /* display: block; */
    display: none;
}
.nav1-content ul{
    position: absolute;
    left: 1rem;
}
.nav1-content li{
    
    box-sizing: border-box;
    list-style: none;
    float: left;
    width: 23.6%;
    /* min-width: 172.18px; */
    text-align: center;
    padding: 0 .5rem;
    margin: 1rem .46rem 0 0;
    background-color: #eee;
    color: #333;
    line-height: 2.215rem;
    font-size: .875rem;
    border-radius: 6%;
    /* margin: auto; */
}

.nav2_ ul{
    overflow: hidden;
}

.nav2 li{
    list-style: none;
    float: left;
    margin: 0 .75rem;
    color: #a5adb5;
    line-height: 2.75rem;
    z-index: 3;
}
.nav2 li:nth-child(2){
    margin-left: -.5rem;
}
.nav2_{
    height: 2.75rem;
    position: relative;
    overflow: hidden;
    
}
.nav2{
    position: absolute;
    /* left: 4.3rem; */
    /* height: 50%; */
    /* overflow: hidden; */
}
.nav-plus{
    position: relative;
    right: 0;
    float: right;
    text-align: center;
    line-height: 2.55rem;
    width: 2.6875rem;
    background-color: #fafafa;
    
}
.icon-downarrow{
    font-size: 1.1rem;
}

.nav2-content{
    position: absolute;
    top: 2.55rem;
    /* left: -1rem; */
    height: 280.1px;
    /* width: 37.48rem; */
    width: 100%;
    /* margin: 0 auto; */
    background-color: #fafafa;
    border-top: 1px solid #f1f1f1;

    /* display: block; */
    display: none;
}
.nav2-content ul{
    position: absolute;
    left: 1rem;
}
.nav2-content li{
    box-sizing: border-box;
    list-style: none;
    float: left;
    width: 23.6%;
    /* min-width: 172.18px; */
    text-align: center;
    padding: 0 .5rem;
    margin: 1rem .46rem 0 0;
    background-color: #eee;
    color: #333;
    line-height: 2.215rem;
    font-size: .875rem;
    border-radius: 6%;
}
.nav2-content .active{
    color: #000;
}


.content{
    position: relative;
    /* top: 105px; */
}


.weibo-item{
    /* height: 320.16px; */

    margin: 0 .75rem;
    /* border-bottom: 1px solid #f1f1f1; */

    position: relative;
}
.weibo-item1{
    height: 330.16px;

}
.weibo-item5{
    height: 200px ; 
}
.weibo-bor{
    height: 1px;
    width: 100%;
    background-color: #f1f1f1;
}
.weibo-card{
    /* display: inline; */
    /* padding-left: .25rem; */
    /* padding-top: .9375rem; */
    /* width: 750px; */
    position: relative;

    left: .25rem;
    /* right: .25rem; */
    top: .9375rem;

}
.weibo-card .h-img{
    background-size: cover;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    position: relative;
}
.weibo-card .h-img1{
    background-image: url("https://tvax2.sinaimg.cn/crop.0.0.1080.1080.180/ed5ee633ly8ghyr8m136yj20u00u0my7.jpg");
}
.weibo-card .h-img2{
    background-image: url(../img/11.jpg);
}
.weibo-card .h-img3{
    background-image: url(../img/10.1.jpg);
}
.weibo-card .h-img4{
    background-image: url(../img/3.1.jpg);
}
.weibo-card .vip{
    height: 1em;
    width: 1em;
    font-size: 11.9px;
    border: 1px solid yellow;
    border-radius: 50%;
    background-color: rgb(219, 0, 0);
    color: #fff34f;
    text-align: center;
    line-height: 1em;
    position: absolute;
    right: 0;
    bottom: 0;
}
.weibo-card .w-mess{
    /* display: inline; */
    position: absolute;
    left: 2.5rem;
    top: 0;
}
.weibo-card .weibo-name{
    font-size: 17.5px;
}
.weibo-card .weibo-phone{
    font-size: 13.75px;
    color: #939393;
}

.weibo-item .weibo-main{
    position: absolute;
    left:.41rem;
    top: 4.2rem;
    /* overflow: hidden; */
    /* display: block; */
}
.weibo-item .weibo-mcon{
    display: block;
    margin-bottom: .8rem;
}
.weibo-item .weibo-img{
    display: inline-block;
    width: 136px;
    height: 136px;
}
.weibo-item .weibo-img1{
    background: url("https://wx4.sinaimg.cn/large/ed5ee633ly1gimdyxirwrj20to17dtfw.jpg");
    background-size: cover;
}
.weibo-item .weibo-img2{
    background: url(../img/10.1.jpg);
    background-size: cover;
}
.weibo-item .weibo-img3{
    background: url(../img/11.jpg);
    background-size: cover;
}
.weibo-item .weibo-img4{
    background: url(../img/628.jpg);
    background-size: cover;
}
.weibo-item .weibo-foot{
    position: absolute;
    /* top: 14rem; */
    bottom: 1rem;
}
.weibo-item .icon-zhuanfa,.icon-dianzan,.icon-pinglun{
    font-size: 20px;
    
}
.weibo-item .wei-num{
    font-size: 16.25px;
    margin-right: 1.5rem;
}